<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sunity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name="com.example.sunity.Activity.ResetPasswordActivity"
            android:parentActivityName="com.example.sunity.Activity.LoginActivity"></activity>
        <activity android:name="com.example.sunity.Activity.MessageActivity" />
        <activity android:name="com.example.sunity.BulletinBoard.TransferActivity" />
        <activity android:name="com.example.sunity.BulletinBoard.ReturnActivity" />
        <activity android:name="com.example.sunity.BulletinBoard.NewActivity" />
        <activity android:name="com.example.sunity.Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sunity.Activity.RegisterActivity" />
        <activity android:name="com.example.sunity.Activity.MainActivity" />
        <activity android:name="com.example.sunity.BulletinBoard.NewWriteActivity" />
        <activity android:name="com.example.sunity.BulletinBoard.ReturnWriteActivity" />
        <activity android:name="com.example.sunity.BulletinBoard.TransferWriteActivity" />
        <activity android:name="com.example.sunity.Activity.GalleryActivity" />
        <activity android:name="com.example.sunity.Activity.PostActivity" />
        <activity android:name="com.example.sunity.Activity.RoomActivity" />
        <activity android:name="com.example.sunity.Activity.ReportActivity" />
        <activity android:name="com.example.sunity.Activity.ForbidBehaviourActivity" />
        <activity android:name="com.example.sunity.Activity.AnnouncementActivity" />
        <activity android:name="com.example.sunity.Activity.LightbulbActivity"/>
        <activity android:name="com.example.sunity.Activity.TimetableActivity"/>


    </application>

</manifest>